.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 30px;
    gap: 60px;
    flex-wrap: wrap;
}

.mainInfo {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

.footerLinks {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.link a {
    color: var(--clr-white);
    transition: 0.4s linear;
}

.link a:hover {
    color: var(--clr-primary);
}

.title {
    font-size: 22px;
    margin-bottom: 10px;
}

.link input {
    width: 120%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(65, 65, 65);
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--clr-white);
}

.btn {
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--clr-primary);
    cursor: pointer;
    transition: linear 0.4s;
}

.btn:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.btn:active {
    background-color: var(--clr-green-tint-1);
}

.mainInfo img {
    width: 150px;
}

.iconLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.iconLinks .icon img {
    width: 20px;
}

.iconLinks .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s linear;
    transition: transform 0.3s ease-in-out;
}

.iconLinks .icon:hover {
    transform: scale(1.1);
}

@media (hover:none) {
    .btn:hover {
        background-color: var(--clr-white);
        color: var(--clr-primary);
    }

    .iconLinks .icon:hover {
        transform: scale(1);
    }

    .link a:hover {
        color: var(--clr-white);
    }
}

@media screen and (max-width: 475px) {
    .link:nth-child(2) {
        width: 150px;
    }
}
