.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--clr-white);
    box-shadow: 0px 0px 10px rgb(203, 203, 203);
    padding: 25px 20px;
    z-index: 1000;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ulLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ulLinks li {
    font-weight: 500;
}

.ulLinks li a {
    color: var(--clr-neutral-dgrey);
    position: relative;
}

.ulLinks li a::after {
    content: "";
    position: absolute;
    width: 0%;
    background-color: var(--clr-primary);
    left: 0;
    bottom: -2px;
    height: 2px;
    transition: width 0.5s linear;
}

.ulLinks li a:hover::after {
    width: 100%;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.btn {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn:active {
    background-color: var(--clr-green-tint-1);
}

.respMenu {
    display: none;
}

/* Disabling hover effects */
@media (hover:none) {
    .ulLinks li a:hover::after {
        width: 0%;
    }
}

@media screen and (max-width: 991px) {
    .respMenu {
        display: block;
    }

    .ulLinks {
        position: absolute;
        top: 100px;
        right: 0;
        width: 70%;
        background-color: rgb(162, 205, 136);
        padding: 50px 40px;
        height: 100vh;
        flex-direction: column;
        gap: 100px;
        z-index: 1000;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        pointer-events: none;
    }

    .ulLinks li a {
        font-size: 17px;
    }

    .ulLinks.show {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
}

@media screen and (max-width: 480px) {
    .ulLinks {
        gap: 90px;
    }
}

@media screen and (max-width: 379px) {
    .container {
        flex-direction: column;
    }

    .ulLinks {
        top: 140px;
        gap: 50px;
    }

    .logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 369px) {
    .container {
        flex-direction: column;
    }

    .ulLinks {
        top: 140px;
        gap: 80px;
    }

    .logo {
        margin-bottom: 20px;
    }
}